{% extends 'template.html' %}

{% block head %}
<title>Añadir Cita</title>
{% endblock %}

{% block body %}
<div class="container">

    <div class="banner">
        <h1>Solicitud Cita Medica</h1>
    </div>
    <div class="form-holder">
        <form action="/add" method="POST">
            <h3>Añadir Nueva Cita</h3>
            <hr>
            &nbsp;
            <div class="row">
                <label for="name">Nombre <span class="red">*</span></label>
                <input id="name" type="text" name="name" required />
            </div>
            <div>
                <label>Sexo <span class="red">*</span></label>
                <div>
                    <div>
                        <input type="radio" value="Male" id="male" name="gender" />
                        <label for="male" class="radio"><span>Male</span></label>
                    </div>
                    <div>
                        <input type="radio" value="Female" id="female" name="gender" />
                        <label for="female" class="radio"><span>Female</span></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="address">especialidad <span class="red">*</span></label>
                <input id="address" type="address" name="address" required />
            </div>
            <div class="row">
                <label for="phone">Fecha deseada de la cita <span class="red">*</span></label>
                <input id="phone" type="number" name="phone" required />
            </div>
            <div class="row">
                <label for="salary">Cedula <span class="red">*</span></label>
                <input id="salary" type="number" name="salary" required />
            </div>
            <div class="row">
                <label for="department">Regimen <span class="red">*</span></label>
                <input id="department" type="text" name="department" required />
            </div>
            <div class="btn-block">
                <a href="/" class="back-btn">Back to home</a>
                <input type="submit" value="Subir Cita">
            </div>
        </form>
    </div>

</div>
{% endblock %}